/* "Submitted Successfully" message Box Styling */
.alert {
  margin: 4px;
}
.alert-success {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
/* Form Styling */
.form-area {
  width: 454px;
  margin: 0px auto;
  border: 4px solid #ccc;
  background: linear-gradient(70deg, rgb(241, 245, 145), rgb(230, 235, 230));
}
.form-group {
  margin: 7px 15px;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}
label {
  cursor: pointer;
  font-weight: bold;
  margin: 6px 0px;
  font-size: 20px;
}
/* Button Styling */
.btn-primary {
  display: block;
  margin: 15px auto;
  width: 330px;
  height: 55px;
  font-weight: bold;
  font-size: 20px;
}
.btn-primary:hover {
  opacity: 0.8;
  background: rgb(10, 200, 233);
}
.btn-success {
  font-size: 18px;
}
.btn-success:hover {
  opacity: 0.8;
  background: rgb(44, 187, 80);
}
.is-invalid {
  margin: 2px;
}
.signupText {
  font-size: 20px;
  color: black;
  font-style: italic;
}
.alert-tertiary {
  font-size: 25px;
  color: blue;
}
.container {
  height: 800px;
}
.form-area {
  margin: 80px auto;
}
.eye {
  margin-left: 10px;
  cursor: pointer;
}
