.form-area {
  width: 800px;
  margin: 10px auto;
  background: rgb(192, 223, 212);
  padding: 10px;
}
.form-group {
  margin: 4px;
}
label {
  margin: 2px;
}
.btn {
  margin: 10px;
  width: 120px;
  height: 50px;
  margin-left: 320px;
}
